//- extends layouts/Layout
block content
    form(method='POST' action='/admin/register')
        input(type="text", name="name" value='Ashish Yoel')
        input(type="email", name="email" value='ashishyoel23@gmail.com')
        input(type="password", name="password" value=12345)
        button(type="submit") Register
