.header
    span= `Hello, ${user.name.split(' ')[0]} `
    a(class='nav_link' href='/home') Home
    a(class='nav_link' href='/cart') Cart
    a(class='nav_link' href='/wishlist') Wishlist
    a(class='nav_link' href='/logout') Logout