.header
    span= `Hello, ${user.name.split(' ')[0]} `
    a(class='nav_link' href=`/admin/add/product?referrer=${referrer}`) Add Products
    a(class='nav_link' href=`/admin/products?referrer=${referrer}`) Products
    a(class='nav_link' href=`/admin/dashboard?referrer=${referrer}`) Dashboard
    a(class='nav_link' href='/logout') Logout